*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.small-nav{
    display: flex;
    width: 100%;
    background-color: rgb(102, 102, 102);
    font-size: 20px;
    height: 60px;
    color: white;
    /* padding-top: 13px; */
}
.logo{
   background-color: rgb(51, 51, 51);
   width: 11%;
   padding-top: 18px;
   padding-left: 40px;
   
}

.small-image{
    padding-top: 15px;
    padding-left: 65%;
}

.main-container{
    width: 100%;
    display: flex;
    padding-top: 20px;
}
.left-column{
    width: 28%;
    padding: 15px;
    
}
.center-column{
    width: 52%;
    padding-top: 15px;
    padding-left: px;
}
.right-column{
    width: 19%;
    padding-top: 15px;
    padding-left: 15px;
    
}

.profile{
    width: 100%;
    height: 350px;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid gray; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.profile-img{
    padding-left: 33%;
    padding-top: 12px;
}

.my-profile-items{
    padding-top: 18%;
    padding-left: 20px;
    text-align: left;
}

.c-column-1{
    width: 100%;
    height: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 15px;
    padding-top: 25px;
    color: ligt gray;
}

.r-column-1{
    width: 100%;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}

.r-image-1{
    padding-top: 30px;
    padding-left: 13px;
}

